mixin stats(valor,leyenda)
	.estadistica_elemento
		h3=valor
		span=leyenda
mixin article(categoria,titulo, descripcion)
	.articulo
		span.articulo__categoria=categoria
		h2.articulo__titulo=titulo
		p.articulo__descripcion=descripcion
