mixin caja(imagen, category, title, summary)
	.caja
		a(href="#",class="caja__imagen"): img(src="../images/"+imagen)
		.caja__contenido
			span.caja__categoria=category
			h3=title
			p=summary
		+estadistica

mixin noticias(category, title, summary)
	.noti
		.noti__contenido
			span.noti__categoria=category
			h3=title
			p=summary
		+estadistica


mixin estadistica
	.estadistica--articulos: ul
		li
			i.fas.fa-share
			span 275
		li
			i.fas.fa-eye
			span 275
		li
			i.fas.fa-comment-alt
			span 12

